.reset {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.reset_button {
     width: 50px !important;
     height: 50px !important;
     margin-top: 50px !important;
     z-index: 9999;
}

.notShowReset{
    display: none;
}

.showReset{
    display: initial !important;
}